<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-image: url('https://images.pexels.com/photos/7130534/pexels-photo-7130534.jpeg?auto=compress&cs=tinysrgb&w=12600&h=7500&dpr=1');">>
<form action="register" method="post">
    {% csrf_token %}
    <input type="text"name="username"placeholder="enter username"><br>
    <input type="text"name="first_name"placeholder="enter first name"><br>
    <input type="text"name="last_name"placeholder="enter last name"><br>
    <input type="email"name="email"placeholder="enter email"><br>
    <input type="password"name="password"placeholder="enter password"><br>
    <input type="password"name="password1"placeholder="confirm password"><br>
    <br>
    <input type="submit">

</form>
{% for msg in messages %}
{{msg}}
{% endfor %}

</body>

</html>